* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background: #3c343d;
}

.background {
	background-color: var(--background);
	display: grid;
	place-items: center;
	height: 100vh;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	max-width: 600px;
}

.card {
	position: relative;
	left: 0px;

	border-radius: 16px;

	overflow: hidden;
	background-color: var(--background);
	transition: 0.4s ease-in-out;
	box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
	flex: 0.3;

	width: 200px;
	height: 70vh;
}

.card img {
	height: 100%;
}

.card:hover {
	flex: 4;
	font-weight: bold;
	cursor: pointer;
	border-radius: 8px;
}
